body{
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border-bottom: 1.5px solid #404040;
}
.cont{
    width: 1278px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.menu{
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style-type: none;
}
.btn{
    text-decoration: none;
    color:#fff;
    padding: 12px 52px;
}
.btn:hover{
    color:black;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
}
#btn{
    text-decoration: none;
    color:#fff;
    border: 1.5px solid #fff;
    border-radius: 10px;
    padding: 8px;
}
#btn:hover{
    color:black;
    background-color: #fff;
}
.container{
    width: 1920px;
    justify-content: center;
    margin: 0 auto;
}
.card1{
    max-width: 1296px;
    display: flex;
    flex-direction:;
    justify-content: space-around;
    margin: 136px auto 28px; 
    padding: 32px;
}
.card2{
    max-width: 1296px;
    display: flex;
    flex-direction:;
    justify-content: space-around;
    margin: 28px auto 28px;
    padding: 32px;
}
.card3{
    max-width: 1240px;
    height: auto;
    display: flex;
    flex-direction:;
    justify-content: space-around;
    margin: 28px auto 27.5px;
    background: linear-gradient(89.95deg, #91282F 0.44%, #330002 98.92%);
    border-radius: 12px;
    padding: 32px;
}
.content .btn{
    text-decoration: none;
    color:#fff;
    border: 1.5px solid #fff;
    border-radius: 10px;
    padding: 8px;
}
.content span{
    font-size: 60px;
}
.content h3{
    font-size: 30px;
}
.card1 .img{
    width: 850px;
}
.card2 .img{
    width: 568px;
}
.card3 .img{
    width: 533px;
}
.card1 .content{
    width: 365px;
}
.card2 .content{
    margin: 12px auto;
    padding: 42px;
}
.card3 .content{
    margin: 12px auto;
    padding: 42px;
}
.card3 .btn{
    background-color: black;
}
.content .btn:hover{
    color:black;
    background-color: #fff;
}
footer{
    width: 100%;
    height: auto;
    background: #ffffff;
    color: #000;
    align-items: center;
    display: flex;
    margin: 27.5px auto 0;
    flex-direction: column;
    padding: 48px;
}
.logo-foot{
    width: 197px;
    height: 17px;
    margin: 48px 860px;
    border-bottom: 1.5px solid #404040 ;
}
.container-foot{
    width: 1278px;
    text-align: center;
}
.rodape{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}
.rod-2{
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}
.rod-2 p{
    padding: 0px 50px 10px 20px;    
}

@media screen and (max-width:1023px) {
    *{
        
        flex-direction: column;
        align-items: center;
    }
    .header{
        height: auto;
        align-items: center;
        margin: auto;
    }
    .header .cont{
        max-width: auto;
        flex-direction: column;
        align-items: center;
    }
    .card1{
        flex-direction: column;
        align-items: center;
    }
    .card2{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
    }
    .card3{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
    }
    footer{
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .container-foot{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
    }
    footer .rodape{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
    }
}